{% extends "base.html" %}

{% block body %}
  <a href="/appointment/form">New appointment</a>
  <div>
    {% if appointments %}
    <p>Appointments</p>
    <ul>
    {% for appointment in appointments %}
      <li>
        <ul>
          <li>Topic: {{appointment['topic']}}</li>
          <li>Sender: {{appointment['sender']}}</li>
          <a href="/appointment/{{appointment['number']}}">Details</a>
        </ul>
      </li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No appointments</p>
    {% endif %}
  </div>
{% endblock %}
