{% extends "base.html" %}

{% block body %}
  <form action="/profile/edit" method="post">
    {% if is_admin %}
      <label for="name">name</label>
      <input type="text" id="name" name="name" placeholder="{{profile['name']}}"/><br>
      <label for="surname">surname</label>
      <input type="text" id="surname" name="surname" placeholder="{{profile['surname']}}"/><br>
      <label for="birthdate">birthdate</label>
      <input type="date" id="birthdate" name="birthdate" placeholder="{{profile['birthdate']}}"/><br>
    {% endif %}
    <label for="address">address</label>
    <input type="text" id="address" name="address" placeholder="{{profile['address']}}"/><br>
    <label for="email">email</label>
    <input type="" id="email" name="email" placeholder="{{profile['email']}}"/><br>
    <label for="phone">phone</label>
    <input type="tel" id="phone" name="phone" placeholder="{{profile['phone']}}"/><br>
    <input type="submit"/>
  </form>
{% endblock %}
