{% extends "base.html" %}

{% block body %}
  <div>
    <form>
      <label for="name">Name</label>
      <input id="name" type="text"/>
      <label for="surname">Surname</label>
      <input id="surname" type="text"/>
      <label for="email">email</label>
      <input id="email" type="email"/>
      <label for="username">Username</label>
      <input id="username" type="text"/>
      <label for="password">Password</label>
      <input id="password" type="password"/>
    </form>
  </div>
{% endblock %}
